<div class="row">
  <table class="table">
    <tr>
      <th>名前</th>
      <th>GitHub ID</th>
    </tr>
<% @profiles.each do |profile| %>
      <tr>
        <td>
          <%= link_to profile.name, profile_path(profile) %>
        </td>
        <td><%= profile.github_id %></td>
      </tr>
<% end %>
  </table>
</div>
